# INFO-4604 Final Project 

* Created by Garrett Glissmann on November 17, 2017

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dfMovies = pd.read_csv('tmdb_5000_movies.csv', sep=',', header=0)
# dfMovies = pd.read_csv('tmdb_5000_movies_out.csv', sep=',', header=0)
# dfMovies = pd.read_csv('tmdb_5000_movies_out2.csv', sep=',', header=0)
# dfMovies = pd.read_csv('tmdb_5000_movies_out3.csv', sep=',', header=0, encoding='latin1')
# dfMovies = pd.read_csv('tmdb_5000_movies_out4.csv', sep=',', header=0, encoding='latin1')
print("Number of columns = {}".format(len(dfMovies.columns)))
dfMovies.head()

Number of columns = 20

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [8]:
# Genres, production countries, spoken_languages

def json_to_cols (i, row, col_key, json_key):
    if (row[col_key]):
        gen = pd.read_json(row[col_key])
        if (json_key in gen.columns):
            for v in gen[json_key]:
                col = col_key + "_" + v.replace(' ', '_').lower()
                dfMovies.loc[i, col] = 1

for i, row in dfMovies.iterrows():
    # JSON fields
    json_to_cols(i, row, "genres", "name")
    json_to_cols(i, row, "production_countries", "iso_3166_1")
    json_to_cols(i, row, "spoken_languages", "iso_639_1")
    # Categorical value
    lang = row['original_language']
    if (lang):
        dfMovies.loc[i, 'original_language_' + lang] = 1

do_columns = ["genres", "production_countries", "spoken_languages", "original_language"]
for col_name in do_columns:
    col_name2 = col_name + '_'
    dfMovies.drop([col_name], axis=1, inplace=True)
    for col in dfMovies.columns:
        if (col.find(col_name2) == 0):
            dfMovies[col].fillna(0, inplace=True)

print("Number of columns = {}".format(len(dfMovies.columns)))

Number of columns = 248

In [9]:
# Production companies

col_key = "production_companies"
json_key = "name"
number_comp = 100
prod_map = {}
for i, row in dfMovies.iterrows():
    if (row[col_key]):
        gen = pd.read_json(row[col_key])
        if (json_key in gen.columns):
            dfMovies.loc[i, col_key] = "|".join(gen[json_key]).replace('(', '').replace(')', '')
            for v in gen[json_key]:
                if (v not in prod_map):
                    prod_map[v] = 0
                prod_map[v] += 1

print("Number of unique production companies = {}".format(len(prod_map)))
prod_map_s = sorted(prod_map.items(), key=lambda x: x[1], reverse=True)
top_n = prod_map_s[:number_comp]
print("Top {} production companies:".format(number_comp))
print(top_n)

for tup in top_n:
    name = tup[0].replace('(', '').replace(')', '')
    col = "Prod_Comp_" + name
    dfMovies[col] = 0
    dfMovies.loc[dfMovies[col_key].str.contains(name, na=False), col] = 1
dfMovies.drop([col_key], axis=1, inplace=True)

print("Number of columns = {}".format(len(dfMovies.columns)))

Number of unique production companies = 5017
Top 100 production companies:
[('Warner Bros.', 319), ('Universal Pictures', 311), ('Paramount Pictures', 285), ('Twentieth Century Fox Film Corporation', 222), ('Columbia Pictures', 201), ('New Line Cinema', 165), ('Metro-Goldwyn-Mayer (MGM)', 122), ('Touchstone Pictures', 118), ('Walt Disney Pictures', 114), ('Relativity Media', 102), ('Columbia Pictures Corporation', 96), ('Miramax Films', 94), ('Village Roadshow Pictures', 81), ('DreamWorks SKG', 79), ('Canal+', 75), ('United Artists', 75), ('Regency Enterprises', 69), ('Fox Searchlight Pictures', 64), ('Dune Entertainment', 59), ('Lionsgate', 56), ('Fox 2000 Pictures', 55), ('TriStar Pictures', 55), ('Dimension Films', 54), ('Working Title Films', 53), ('Summit Entertainment', 52), ('Amblin Entertainment', 49), ('The Weinstein Company', 42), ('StudioCanal', 41), ('New Regency Pictures', 40), ('Castle Rock Entertainment', 40), ('Screen Gems', 39), ('Spyglass Entertainment', 38), ('BBC Films', 38), ('Scott Rudin Productions', 37), ('Imagine Entertainment', 36), ('Film4', 36), ('Focus Features', 36), ('UK Film Council', 36), ('Legendary Pictures', 34), ('Davis Entertainment', 34), ('Lions Gate Films', 34), ('Revolution Studios', 34), ('Lakeshore Entertainment', 34), ('Silver Pictures', 33), ('Epsilon Motion Pictures', 32), ('Happy Madison Productions', 32), ('DreamWorks Animation', 31), ('Original Film', 30), ('Ingenious Film Partners', 29), ('Millennium Films', 29), ('Hollywood Pictures', 29), ('Scott Free Productions', 28), ('TSG Entertainment', 27), ('Studio Babelsberg', 26), ('Dune Entertainment III', 26), ('NPV Entertainment', 25), ('EuropaCorp', 24), ('Participant Media', 24), ('MTV Films', 23), ('Morgan Creek Productions', 23), ('Eon Productions', 22), ('Intermedia Films', 22), ('Nickelodeon Movies', 22), ('Alcon Entertainment', 22), ('Blumhouse Productions', 22), ('Jerry Bruckheimer Films', 21), ('Constantin Film Produktion', 20), ('France 2 Cinéma', 20), ('Apatow Productions', 20), ('Di Bonaventura Pictures', 19), ('Malpaso Productions', 19), ('40 Acres & A Mule Filmworks', 19), ('Walden Media', 18), ('Wild Bunch', 18), ('1492 Pictures', 17), ('Phoenix Pictures', 17), ('Anonymous Content', 17), ('TF1 Films Production', 17), ('Studio Canal', 17), ('Marvel Enterprises', 16), ('Revolution Sun Studios', 16), ('Pixar Animation Studios', 16), ('Vertigo Entertainment', 16), ('PolyGram Filmed Entertainment', 16), ('Mirage Enterprises', 16), ('Franchise Pictures', 16), ('Dark Castle Entertainment', 16), ('Orion Pictures', 16), ('Sony Pictures Classics', 16), ('DC Comics', 15), ('Lucasfilm', 15), ('Dino De Laurentiis Company', 15), ('Double Feature Films', 15), ('Jersey Films', 15), ("Donners' Company", 14), ('Ingenious Media', 14), ('Cruise/Wagner Productions', 14), ('Mutual Film Company', 14), ('Tribeca Productions', 14), ('Mosaic Media Group', 14)]
Number of columns = 347

In [10]:
# Keywords

col_key = "keywords"
json_key = "name"
number_comp = 150
prod_map = {}
for i, row in dfMovies.iterrows():
    if (row[col_key]):
        gen = pd.read_json(row[col_key])
        if (json_key in gen.columns):
            dfMovies.loc[i, col_key] = "|".join(gen[json_key]).replace('(', '').replace(')', '')
            for v in gen[json_key]:
                if (v not in prod_map):
                    prod_map[v] = 0
                prod_map[v] += 1

print("Number of unique keywords = {}".format(len(prod_map)))
prod_map_s = sorted(prod_map.items(), key=lambda x: x[1], reverse=True)
top_n = prod_map_s[:number_comp]
print("Top {} keywords:".format(number_comp))
print(top_n)

for tup in top_n:
    name = tup[0].replace('(', '').replace(')', '')
    col = "Keyword_" + name
    dfMovies[col] = 0
    rgx = "^" + name + "$|" + name + "\||\|" + name + "\||\|" + name + "$"
    dfMovies.loc[dfMovies[col_key].str.contains(name, na=False), col] = 1

dfMovies.drop([col_key], axis=1, inplace=True)

print("Number of columns = {}".format(len(dfMovies.columns)))

Number of unique keywords = 9813
Top 150 keywords:
[('woman director', 324), ('independent film', 318), ('duringcreditsstinger', 307), ('based on novel', 197), ('murder', 189), ('aftercreditsstinger', 170), ('violence', 150), ('dystopia', 139), ('sport', 126), ('revenge', 118), ('sex', 111), ('friendship', 106), ('musical', 105), ('biography', 105), ('teenager', 99), ('3d', 98), ('love', 95), ('sequel', 94), ('suspense', 92), ('new york', 89), ('police', 84), ('los angeles', 81), ('high school', 80), ('alien', 76), ('prison', 72), ('nudity', 71), ('superhero', 69), ('family', 69), ('london england', 69), ('drug', 69), ('dying and death', 66), ('father son relationship', 65), ('daughter', 61), ('world war ii', 58), ('kidnapping', 57), ('wedding', 57), ('remake', 56), ('suicide', 56), ('serial killer', 56), ('magic', 55), ('friends', 54), ('corruption', 53), ('escape', 52), ('based on comic book', 52), ('hospital', 52), ('party', 52), ('time travel', 51), ('based on true story', 51), ('martial arts', 51), ('airplane', 50), ('investigation', 50), ('brother brother relationship', 49), ('survival', 49), ('fbi', 49), ('female nudity', 49), ('money', 48), ('blood', 48), ('future', 47), ('fight', 47), ('best friend', 46), ('secret', 46), ('cia', 46), ('music', 46), ('gay', 46), ("love of one's life", 45), ('lawyer', 45), ('zombie', 45), ('paris', 45), ('undercover', 44), ('war', 44), ('flashback', 44), ('small town', 44), ('based on young adult novel', 43), ('explosion', 43), ('new love', 43), ('witch', 42), ('death', 42), ('rescue', 42), ('jealousy', 42), ('conspiracy', 42), ('vampire', 42), ('wife husband relationship', 42), ('assassin', 42), ('rape', 42), ('shootout', 41), ('journalist', 41), ('prostitute', 41), ('divorce', 41), ('spy', 40), ('monster', 40), ('obsession', 40), ('teacher', 40), ('robbery', 40), ('soldier', 39), ('england', 39), ('dog', 39), ('new york city', 39), ('gore', 39), ('detective', 39), ('hotel', 39), ('adultery', 38), ('alcohol', 37), ('hitman', 37), ('hostage', 36), ('1970s', 36), ('ghost', 36), ('christmas', 36), ('marriage', 36), ('sister sister relationship', 36), ('relationship', 36), ('island', 35), ('holiday', 35), ('competition', 35), ('secret identity', 34), ('marvel comic', 34), ('saving the world', 34), ('brother sister relationship', 34), ('college', 34), ('infidelity', 34), ('romantic comedy', 34), ('dream', 34), ('gangster', 34), ('coming of age', 34), ('terrorist', 33), ('usa president', 33), ('helicopter', 33), ('slasher', 33), ('scientist', 32), ('doctor', 32), ('army', 32), ('usa', 32), ('blackmail', 32), ('fbi agent', 32), ('battle', 31), ('chase', 31), ('parents kids relationship', 31), ('ship', 30), ('post-apocalyptic', 30), ('based on video game', 30), ('nightmare', 30), ('gang', 30), ('psychopath', 30), ('neighbor', 30), ('mother daughter relationship', 30), ('drug dealer', 30), ('faith', 29), ('mutant', 29), ('hero', 29), ('rivalry', 29), ('california', 29)]
Number of columns = 496

In [11]:
dfMovies.head(30)

,budget,homepage,id,original_title,overview,popularity,release_date,revenue,runtime,status,...,Keyword_gang,Keyword_psychopath,Keyword_neighbor,Keyword_mother daughter relationship,Keyword_drug dealer,Keyword_faith,Keyword_mutant,Keyword_hero,Keyword_rivalry,Keyword_california
0,237000000,http://www.avatarmovie.com/,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,...,0,0,0,0,0,0,0,0,0,0
1,300000000,http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,...,0,0,0,0,0,0,0,0,0,0
2,245000000,http://www.sonypictures.com/movies/spectre/,206647,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,...,0,0,0,0,0,0,0,0,0,0
3,250000000,http://www.thedarkknightrises.com/,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,...,0,0,0,0,0,0,0,1,0,0
4,260000000,http://movies.disney.com/john-carter,49529,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,...,0,0,0,0,0,0,0,0,0,0
5,258000000,http://www.sonypictures.com/movies/spider-man3/,559,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,2007-05-01,890871626,139.0,Released,...,0,0,0,0,0,0,0,1,0,0
6,260000000,http://disney.go.com/disneypictures/tangled/,38757,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,2010-11-24,591794936,100.0,Released,...,0,0,0,0,0,0,0,0,0,0
7,280000000,http://marvel.com/movies/movie/193/avengers_ag...,99861,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,2015-04-22,1405403694,141.0,Released,...,0,0,0,0,0,0,0,1,0,0
8,250000000,http://harrypotter.warnerbros.com/harrypottera...,767,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,2009-07-07,933959197,153.0,Released,...,0,0,0,0,0,0,0,0,0,0
9,250000000,http://www.batmanvsupermandawnofjustice.com/,209112,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,2016-03-23,873260194,151.0,Released,...,0,0,0,0,0,0,0,1,0,0
10,270000000,http://www.superman.com,1452,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,2006-06-28,391081192,154.0,Released,...,0,0,0,0,0,0,0,1,0,0
11,200000000,http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,2008-10-30,586090727,106.0,Released,...,0,0,0,0,0,0,0,0,0,0
12,200000000,http://disney.go.com/disneypictures/pirates/,58,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,2006-06-20,1065659812,151.0,Released,...,0,0,0,0,0,0,0,0,0,0
13,255000000,http://disney.go.com/the-lone-ranger/,57201,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,2013-07-03,89289910,149.0,Released,...,0,0,0,0,0,0,0,0,0,0
14,225000000,http://www.manofsteel.com/,49521,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,2013-06-12,662845518,143.0,Released,...,0,0,0,0,0,0,0,1,0,0
15,225000000,NaN,2454,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,2008-05-15,419651413,150.0,Released,...,0,0,0,0,0,1,0,0,0,0
16,220000000,http://marvel.com/avengers_movie/,24428,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,2012-04-25,1519557910,143.0,Released,...,0,0,0,0,0,0,0,1,0,0
17,380000000,http://disney.go.com/pirates/index-on-stranger...,1865,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,2011-05-14,1045713802,136.0,Released,...,0,0,0,0,0,0,0,0,0,0
18,225000000,http://www.sonypictures.com/movies/meninblack3/,41154,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.035179,2012-05-23,624026776,106.0,Released,...,0,0,0,0,0,0,0,0,0,0
19,250000000,http://www.thehobbit.com/,122917,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.965743,2014-12-10,956019788,144.0,Released,...,0,0,0,0,0,0,0,0,0,0
20,215000000,http://www.theamazingspiderman.com,1930,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,89.866276,2012-06-27,752215857,136.0,Released,...,0,0,0,0,0,0,0,0,0,0
21,200000000,http://www.robinhoodthemovie.com/,20662,Robin Hood,When soldier Robin happens upon the dying Robe...,37.668301,2010-05-12,310669540,140.0,Released,...,0,0,0,0,0,0,0,0,0,0
22,250000000,http://www.thehobbit.com/,57158,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",94.370564,2013-12-11,958400000,161.0,Released,...,0,0,0,0,0,0,0,0,0,0
23,180000000,http://www.goldencompassmovie.com/index_german...,2268,The Golden Compass,"After overhearing a shocking secret, precociou...",42.990906,2007-12-04,372234864,113.0,Released,...,0,0,0,0,0,0,0,0,0,0
24,207000000,NaN,254,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,2005-12-14,550000000,187.0,Released,...,0,0,0,0,0,0,0,0,0,0
25,200000000,http://www.titanicmovie.com,597,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,1997-11-18,1845034188,194.0,Released,...,0,0,0,0,0,0,0,0,0,0
26,250000000,http://marvel.com/captainamericapremiere,271110,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.372395,2016-04-27,1153304495,147.0,Released,...,0,0,0,0,0,0,0,1,0,0
27,209000000,NaN,44833,Battleship,"When mankind beams a radio signal into space, ...",64.928382,2012-04-11,303025485,131.0,Released,...,0,0,0,0,0,0,0,0,0,0
28,150000000,http://www.jurassicworld.com/,135397,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,2015-06-09,1513528810,124.0,Released,...,0,0,0,0,0,0,0,0,0,0
29,200000000,http://www.skyfall-movie.com,37724,Skyfall,When Bond's latest assignment goes gravely wro...,93.004993,2012-10-25,1108561013,143.0,Released,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dfMovies.to_csv('tmdb_5000_movies_out_final.csv', sep=',', header=True)